* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: 0.5s ease;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(
    to top left,
    #fcff47b6,
    #fc653f9f,
    #ff416aa9,
    #b341ff,
    #6f48fc8f
  );
}

#container {
  height: 400px;
  width: 1200px;
  position: relative;
  overflow: hidden;
}

#container #dino {
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 28px;
  left: 20px;
}

#container #dino img {
  height: 70px;
  width: 70px;
}

.dinoActive {
  animation: animateDino 0.5s linear infinite;
}

@keyframes animateDino {
  0%,
  100% {
    bottom: 28px;
  }

  45%,
  55% {
    bottom: 160px;
  }
}

#container #block {
  position: absolute;
  bottom: 20px;
  right: -20px;
}

#container #block img {
  height: 80px;
  width: 125px;
}

.blockActive {
  animation: blockAnimate 1s linear infinite;
}

@keyframes blockAnimate {
  0% {
    right: -125px;
  }

  100% {
    right: 100%;
  }
}

#container #road {
  height: 30px;
  width: 1200px;
  position: absolute;
  bottom: 0;
}

#container #road img {
  height: 30px;
  width: 2000px;
  position: absolute;
  left: 0;
  animation: none;
}

@keyframes roadAnimate {
  0% {
    left: 0;
  }

  100% {
    left: -800px;
  }
}

#container #cloud {
  height: 80px;
  width: 1200px;
  border-radius: 40px;
  position: absolute;
  top: 30px;
}

#container #cloud img {
  height: 80px;
  width: 2000px;
  position: absolute;
  left: -2000px;
  animation: none;
  background: transparent;
}

@keyframes cloudAnimate {
  0% {
    left: -2000px;
  }

  100% {
    left: 100%;
  }
}

#score {
  height: auto;
  width: auto;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 0;
  color: #ffffff;
}

#gameOver {
  display: flex;
  font-size: 70px;
  position: absolute;
  left: calc(30% );
 

}

/*cualquier color*/

.card .c-colors {
  width: 20px;
  display: flex;
}

.card .c-colors .colors span {
  width: 20px;
  height: 20px;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.card .c-colors .colors span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1.5);
  transition: 0.5s;
}

.card .c-colors .colors span:last-child {
  margin-bottom: 0px;
}

.card .c-colors .colors span#amarillo {
  background: yellow;
}

.card .c-colors .colors span#verde {
  background: rgb(0, 255, 13);
}
.card .c-colors .colors span#rojo {
  background: red;
}

.card .c-colors .colors span#amarillo:hover::before {
  background: rgb(229, 255, 0);
  transform: scale(0.8);
}

.card .c-colors .colors span#verde:hover::before {
  background: rgb(0, 255, 21);
  transform: scale(0.8);
}

.card .c-colors .colors span#rojo:hover::before {
  background: rgba(255, 0, 13, 0.959);
  transform: scale(0.8);
}

/** aqui ava los cuadros de subida**/

.animation_area {
  width: 100%;
  height: 8.5vh;
}
.box_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box_area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: black;
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box_area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box_area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box_area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box_area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box_area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box_area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
.box_area li:nth-child(7) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box_area li:nth-child(8) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/**** aqui vamos a cambiar el color de las letras*****/
#container span {
  font-size: 80pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
#container span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}
#container span::after {
  content: var(--l);
  box-shadow:  0 0 20px 0 rgb(0,0,0,0.5);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 80%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}
#container span:hover {
  filter: contrast(250%);
}
#container span:nth-child(1) {
  color: #00bef8;
  
}
#container span:nth-child(2) {
  color: #ff0697;
}
#container span:nth-child(3) {
  color: #ff4d00;
}
#container span:nth-child(4) {
  color: #ffe600;
}
#container span:nth-child(5) {
  color: #bb00ff;
}

@media screen and (max-width: 500px) {
  #container {
    width: 400px;
  }
  #container #block img {
    width: 60px;
  }
  #container #dino img {
    width: 30px;
  }
}
